*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# flymake-mode
*_flymake.*

.DS_Store
fish_variables

Brewfile.*.lock.json
secrets.*
credentials.*
.pkrvars.hcl
*.pkrvars.hcl